@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

#oml-stage {
  margin-left: 1rem;
}

#oml-controls {
  display: none !important;
}

#oml-levitated-btn {
  display: none !important;
}
